@import "normalize.css";

@import "./sprinkles.css";
@import "./intro.css";
@import "./navigation-list.css";


/* Variables */
:root {
  --white:  #fffbf4;
  --black:  #1b1d29;
  --green:  #adcc66;
  --red:    #ef5b5b;
  --purple: #927bd0;

  --fade: 0.3;
  --half-fade: calc(var(--fade) * 2.5);
  --double-fade: calc(var(--fade) / 2);
  --quadruple-fade: calc(var(--fade) / 4);

  --font-futura: Futura, "Trebuchet MS", Arial, sans-serif;
  --font-palatino: "Palatino Linotype", "Book Antiqua", Palatino, serif;

  --article-text-width: 30rem;
  --border-width: .2rem;
  --content-start-spacing: 8rem;
}


/* Selectors */
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
@custom-selector :--text-content blockquote, dd, dl, dt, hr, li, ol, p, ul;
@custom-selector :--visual-content img, figure, pre, svg;

@custom-media --article-width (max-width: 30em);


/* Resets */
* {
  box-sizing: border-box;
}


/* Base */
html {
  color: var(--black);
  background-color: var(--white);

  font-family: var(--font-futura);
  font-size: 18px;

  &.dark {
    color: var(--white);
    background-color: var(--black);
  }
}


body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  max-width: 50em;

  margin: 0 auto;
  padding: 1em;
}


main {
  flex: 1;
}


/* Atomic Elements */
a:any-link {
  color: inherit;
  text-decoration: none;

  @nest :--text-content & {
    color: var(--purple);
    border-bottom: .15em solid color(var(--purple) alpha(var(--fade)));
    font-weight: bold;

    &:hover {
      border-bottom-color: color(var(--purple) alpha(calc(var(--fade) * 3)));
    }
  }
}


:--heading {
  margin-top: 3em;
  text-transform: uppercase;

  @nest :--heading + &, &:first-child {
    margin-top: 0;
  }
}


blockquote {
  padding: 0 1em;

  font-style: italic;
  border-left: var(--border-width) solid color(var(--black) alpha(var(--double-fade)));
}

/* Header */
header {
  font-weight: bold;
}

header nav {
  display: flex;
  justify-content: flex-start;

  text-transform: uppercase;
  font-size: 0.8rem;
}

header a {
  margin: 0 1em;
  opacity: var(--fade);

  &:hover {
    opacity: 1;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

@media(--article-width) {
  header nav {
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
  }
  header a {
    margin: .1em 0;
  }
}


/* Footer */
footer {
  display: flex;
  justify-content: center;

  margin-top: 4rem;
}


/* Article */
article {
  margin: 5em auto 0;
  max-width: 40em;
}


article hgroup {
  text-align: center;
  font-weight: bold;
  margin: var(--content-start-spacing) 0;

  & h1 {
    margin: 0;
  }

  & time {
    display: block;
    margin-top: 1em;

    text-transform: uppercase;
    opacity: var(--fade);
  }
}


@media(--article-width) {
  article hgroup {
    text-align: left;
  }
}


article :matches(:--text-content) {
  max-width: var(--article-text-width);
  margin: 2em auto;

  font-family: var(--font-palatino);
  line-height: 1.5;
}

article :matches(:--visual-content) {
  margin: 3em auto;
}


article > :--heading {
  margin-left: auto;
  margin-right: auto;

  max-width: var(--article-text-width);
}


article img {
  max-width: 100%;
  margin: 2em 0;
}


article li {
  margin: .75em 0;
}


/* Code */
pre code, pre code.hljs {
  font-size: .8em;
  line-height: 1.5;

  padding: 1.5em;

  color: inherit;
  background: none;
  border-left: var(--border-width) solid color(var(--black) alpha(var(--double-fade)));
}