.navigation-list {
  margin-top: var(--content-start-spacing);

  font-size: 1.5rem;
}

.navigation-list h1 {
  margin-bottom: calc(var(--content-start-spacing) / 2);
}

.navigation-list ul {
  list-style: none;
  padding: 0;
}

.navigation-list :any-link {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  margin: 2em 0;

  & h4 {
    margin: 0;
  }

  & time {
    margin-left: 2em;
    flex-shrink: 0;

    opacity: var(--half-fade);
  }

  &:hover time {
    opacity: 1;
  }
}

@media(--article-width) {
  .navigation-list :any-link {
    flex-direction: column;
    align-items: flex-start;

    & time {
      margin: .5em 0 0 0;
    }
  }
}