{{ define "title" }}
  {{ .Title }} ◇ {{ .Site.Title }}
{{ end }}

{{ define "main" }}
  <article>
    <hgroup>
      <h1>{{ .Title }}</h1>
      <time>{{ .Date.Format "Jan 1, 2006" }}</time>
    </hgroup>
    {{ .Content }}
  </article>
{{ end }}

{{ define "css" }}
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/solarized-light.min.css">
{{ end }}

{{ define "scripts" }}
  <!-- Code Highlighting -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/languages/haskell.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{{ end }}