---
import { getCollection } from 'astro:content';
import Base from '../layouts/Base.astro';
import BabbleLink from '../components/BabbleLink.astro';
import BabblesNav from '../components/BabblesNav.astro';
import Prose from '../components/Prose.astro';
import H2 from '../components/H2.astro';

const babbles = (await getCollection('babbles')).sort(
  (a, b) => (b.data.date as Date).getTime() - (a.data.date as Date).getTime()
);
---

<Base>
  <div class="home">
    <section class="fun">
    </section>

    <section class="intro">
      <Prose>Oh, hey!</Prose>
      <Prose>I'm Kevin Sullivan.</Prose>
      <Prose>
        I do stuff at the intersection of technology and
        creativity. Sometimes I write about that.
      </Prose>
      <Prose>Here's my GitHub, resume, and email. Say hello!</Prose>
      <Prose>Bloop.</Prose>
    </section>

    <section class="babbles">
      <H2>Babbles</H2>
      <BabblesNav>
        {babbles.map((babble) => (
          <BabbleLink
            href={`/babbles/${babble.id}`}
            title={babble.data.title}
            date={(babble.data.date as Date).toISOString().split('T')[0]!}
          />
        ))}
      </BabblesNav>
    </section>
  </div>
</Base>

<style>
  .home {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "fun     intro"
      "babbles babbles";

    row-gap: 3rem;
  }

  .fun {
    grid-area: fun;
   }

  .intro {
    grid-area: intro;
  }

  .babbles {
    grid-area: babbles;
    display: flex;
    flex-direction: column;
    gap: var(--proseParagraphGap);
  }
</style>
