---
import { getCollection } from 'astro:content';
import Base from '../layouts/Base.astro';
import BabbleLink from '../components/BabbleLink.astro';
import BabblesNav from '../components/BabblesNav.astro';
import Heading from '../components/Heading.astro';
import Anchor from '../components/Anchor.astro';
import Prose from '../components/Prose.astro';
import Disc3D from '../components/Disc3D.astro';
import Cube3D from '../components/Cube3D.astro';
import Cylinder3D from '../components/Cylinder3D.astro';
import { toIsoDay, toTimestamp } from '../utils/date'

const babbles = (await getCollection('babbles')).sort(
  (a, b) => toTimestamp(b.data.date) - toTimestamp(a.data.date)
)
---

<Base>
  <div class="home-container">
  <div class="home">
    <section class="fun">
      <Disc3D class="disc" />
      <Cube3D class="cube" />
      <Cylinder3D class="cylinder" />
    </section>

    <section class="intro">
      <Prose>Oh, hey!</Prose>
      <Prose>I'm Kevin Sullivan.</Prose>
      <Prose>
        I do stuff at the intersection of technology and
        creativity. Sometimes I write about that.
      </Prose>
      <Prose>Here's my <Anchor href="https://github.com/sullvn">github</Anchor>, <Anchor href="/resume">resume</Anchor>, and <Anchor href="mailto:kevin@sull.vn">email</Anchor>. Say hello!</Prose>
      <Prose>Bloop.</Prose>
    </section>

    <section class="babbles">
      <Heading level={2}>Babbles</Heading>
      <BabblesNav>
        {babbles.map((babble) => (
          <BabbleLink
            href={`/babbles/${babble.data.slug}`}
            title={babble.data.title}
            date={toIsoDay(babble.data.date)}
          />
        ))}
      </BabblesNav>
    </section>
  </div>
  </div>
</Base>

<style>
  .home-container {
    container-type: inline-size;
  }

  .home {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "fun     intro"
      "babbles babbles";

    row-gap: 3rem;
  }

  .fun {
    grid-area: fun;
    position: relative;
  }

  .disc {position: absolute; left: 12%; bottom: 25%; }
  .cube { position: absolute; left: 50%; bottom: 70%; }
  .cylinder { position: absolute; left: 60%; bottom: 10%; z-index: 1; }

  .intro {
    grid-area: intro;
  }

  .babbles {
    grid-area: babbles;
    display: flex;
    flex-direction: column;
    gap: var(--proseParagraphGap);
  }

  @container (inline-size < 900px) {
    .home {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr auto;
      grid-template-areas:
        "fun"
        "intro"
        "babbles";
    }
  }
</style>
