---
import Base from '../layouts/Base.astro';
import HilbertCurve from '../components/HilbertCurve.astro';
import JobSection from '../components/JobSection.astro';
import InternshipsSection from '../components/InternshipsSection.astro';
import EducationSection from '../components/EducationSection.astro';
---

<Base>
  <div class="container">
    <article>
      <div>
        <h1>Kevin Sullivan</h1>
      </div>

      <HilbertCurve />
    
    <JobSection company="Felt" time="2023 - Now">
        Making the most intuitive GIS software on the planet. Features geospatial analysis, realtime multiplayer, and high-performance rendering.
    </JobSection>

    <JobSection company="Symbiote" time="2020 - 2022">
      <strong>Co-founder.</strong> Plant soil sensor product. Involved in app, cloud services, embedded software, manufacturing, packaging, shop, and media.
    </JobSection>

    <JobSection company="Uber ATG" time="2018 - 2020">
      Built tools for artificial intelligence research in autonomous driving. Includes high-performance spatial visualizations and topology editing.
    </JobSection>

    <JobSection company="Aclima" time="2015 - 2018">
      Interactive geospatial interfaces for hyper-dense environmental data. Featured at the U.N. and New York Times: Cities for Tomorrow.
    </JobSection>

    <JobSection company="Amazon" time="2014 - 2015">
      Worked on a generative testing system for a point-of-sales mobile app and hardware.
    </JobSection>

    <JobSection company="Popular<wbr />Pays" time="2014">
      Started a social graph web crawler and complementary bot detection system.
    </JobSection>

    <InternshipsSection jobs={[
      { company: "Study<wbr>Cloud", time: "2013" },
      { company: "Wolfram<wbr />Alpha", time: "2011 - 2012" }
    ]}>
        <strong>Intern.</strong> Web engineering and prototyping. Includes custom authentication system and social media visualizations.
    </InternshipsSection>

    <EducationSection
      school="University of Illinois<br />Urbana-Champaign"
      time="Class of 2014"
      degree="B.S. in Computer Science"
    />

    <nav>
      <a href="mailto:kevin@sull.vn">kevin@sull.vn</a>
      <a href="https://github.com/sullvn">github.com/sullvn</a>
      <a href="https://sull.vn">sull.vn</a>
    </nav>
    </article>
  </div>
</Base>

<style>
  .container {
    container-type: inline-size;
  }

  article {
    display: grid;

    grid-template-columns: min-content 1fr min-content 1fr;
    grid-template-rows: repeat(6, auto);
    grid-auto-rows: 1fr;

    column-gap: 1rem;
    row-gap: 4rem;
  }

  h1 {
    font-size: 8cqi;
    text-wrap: nowrap;
    text-transform: uppercase;
    text-box-edge: cap alphabetic;
    text-box-trim: trim-both;

    div:has(> &) {
      grid-column-start: span 3;
      justify-self: end;

      container-type: inline-size;
    }
  }

  nav {
    grid-column-start: span 4;

    justify-self: stretch;
    align-self: center;

    display: flex;
    justify-content: space-around;
  }

  nav a {
    color: inherit;
    text-decoration: none;

    &:link, &:visited, &:active {
      color: inherit;
    }
  }

  article :global(wbr) {
    display: none;
  }

  @container (max-width: 640px) {
    article :global(wbr) {
      display: inline;
    }

    article {
      grid-template-columns: min-content 1fr;
      grid-template-rows: repeat(10, auto);
    }

    article :global(svg) {
      display: none;
    }

    h1 {
      font-size: 12cqi;
      margin-bottom: 1em;

      div:has(> &) {
        grid-column-start: span 2;
        justify-self: center;
      }
    }

    article :global(section:last-of-type header) {
      justify-self: center;
      text-align: center;
    }

    nav {
      grid-column-start: span 2;
    }
  }

  @media print {
    .container {
      font-size: 13px;
    }

    :global(footer) {
      display: none;
    }

    @page {
      margin-block: .5in;
    }
  }
</style>
