---
import type { HTMLAttributes } from 'astro/types'

export type Props = HTMLAttributes<'a'>;

const props = Astro.props;
---

<a {...props}><slot /></a>

<style>
  a {
    /**
     * Put in to solve trailing trim Chrome leaves in
     * for `display: inline` although `text-box-trim`
     * is active. Also naturally prevents wrapping links,
     * which seems okay for now.
     */
    display: inline-block;
    color: var(--purple);
    text-decoration: none;
    padding-bottom: 0.2em;
    border-bottom: 0.2em solid color-mix(in srgb, var(--purple) 30%, transparent);
  }

  a:hover {
    border-bottom-color: var(--purple);
  }
</style>
