---
import { formatDate } from '../utils/date';
import Anchor from './Anchor.astro';

export interface Props {
  href: string;
  title: string;
  date: string;
}

const { href, title, date } = Astro.props;

const displayDate = formatDate(date);
---

<li>
  <Anchor href={href} class="babble-link">
    <span>{title}</span>
    <time datetime={date}>{displayDate}</time>
  </Anchor>
</li>

<style>
  li {
    container-type: inline-size;
  }

  .babble-link {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 4ch;
  }

  time {
    flex-shrink: 0;
    color: color-mix(in srgb, var(--purple) 60%, transparent);
  }

  .babble-link:hover time {
    color: var(--purple);
  }

  @container (inline-size < 32ch) {
    .babble-link {
      flex-direction: column;
      align-items: start;
      gap: calc(var(--proseLineHeight) / 2);
    }
  }
</style>
