---
import { formatDate } from '../utils/date';

export interface Props {
  href: string;
  title: string;
  date: string;
}

const { href, title, date } = Astro.props;

const displayDate = formatDate(date);
---

<li>
  <a href={href}>
    <span>{title}</span>
    <time datetime={date}>{displayDate}</time>
  </a>
</li>
