---
const isHomepage = Astro.url.pathname === '/';
---

{!isHomepage && (
  <a href="/">↖</span>
)}

<style>
  a {
    position: absolute;
    top: 0;

    /* Avoid back arrow being obscured by screen cutout */
    left: env(safe-area-inset-left);

    margin: .5rem;

    font-size: var(--backArrowFontSize);
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;

    color: var(--purple);
  }
</style>
