---
const isHomepage = Astro.url.pathname === '/';
---

{isHomepage ? (
  <span class="logo">sullvn</span>
) : (
  <a href="/" class="logo">sullvn</a>
)}

<style>
  .logo {
    display: block;

    font-size: var(--logoFontSize);
    font-weight: 900;
    text-transform: uppercase;
    color: inherit;
    text-decoration: none;

    padding-bottom: 1em;

    position: absolute;
    top: calc(-0.65 * var(--logoFontSize));
    left: 0;

    max-width: 100%;
    overflow-x: hidden;
  }

  /*
   * Include specific `a` selector to override
   * built-in `a:any-link`, `a:any-link:active`
   */
  .logo, a.logo {
    color: inherit;
    text-decoration: none;
  }
</style>
