{{ define "main" }}
  <section id="intro">
    <h1 id="intro-welcome">
      <div id="intro-welcome-welcome">Welcome to</div>
      <div id="intro-welcome-title">Axolotl Industries</div>
    </h1>
    <p id="intro-name">
      <span id="intro-name-name">I'm Kevin Sullivan</span>
      <span id="intro-name-description">
        And this is my corner of the web
      </span>
    </p>
    <p id="intro-purpose">
      <span id="intro-purpose-do">I do stuff</span>
      <span id="intro-purpose-description">
        At the intersection of technology and creativity
      </span>
    </p>
    <p id="intro-work">
      <span id="intro-work-do">I work at Aclima</span>
      <span id="intro-work-description">
        Developing interfaces and tools with environmental sensor data
      </span>
    </p>
  </section>
{{ end }}

{{ define "theme" }}dark{{ end }}