---
import { getCollection, render } from 'astro:content';
import Base from '../../layouts/Base.astro';
import Heading from '../../components/Heading.astro';
import { formatDate, toIsoDay } from '../../utils/date'
import 'katex/dist/katex.css';

export async function getStaticPaths() {
  const babbles = await getCollection('babbles');
  return babbles.map((entry) => ({
    params: { slug: entry.data.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await render(entry);
const date = toIsoDay(entry.data.date)
---

<Base>
  <article>
    <header>
      <Heading level={1}>{entry.data.title}</Heading>
      <time datetime={date}>{formatDate(date)}</time>
    </header>

    <section class="content">
      <Content />
    </section>
  </article>
</Base>

<style>
  article {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  header time {
    font-size: var(--h5FontSize);
  }

  .content :global(p) {
    max-width: 50rch;
    font-size: var(--proseFontSize);
    margin-bottom: var(--proseParagraphGap);
    margin-inline: auto;
  }

  .content :global(h1, h2, h3, h4, h5, h6) {
    max-width: 60rch;
    margin-inline: auto;
    margin-top: var(--proseHeadingGapTop);
    margin-bottom: var(--proseHeadingGap);
  }

  .content :global(ul, ol) {
    max-width: 50rch;
    margin-inline: auto;
    font-size: var(--proseFontSize);
    margin-bottom: var(--proseParagraphGap);
    padding-inline-start: 2ch;
    list-style-position: outside;
    display: flex;
    flex-direction: column;
    gap: var(--proseListGap);
  }

  .content :global(.astro-code) {
    width: max-content;
    min-width: min(60rch, 100%);
    max-width: 100%;

    margin-inline: auto;
    margin-block: var(--proseCodeBlockGap);
    padding-block: 1ex;

    font-size: var(--proseCodeFontSize);
    font-family: Menlo, Consolas, Monaco, 'Adwaita Mono', 'Liberation Mono', 'Lucida Console', monospace;
    line-height: calc(1em + 0.5rem);

    background: transparent !important;
    color: inherit !important;
    overflow-x: auto;
  }

  .content :global(.katex-display) {
    margin-block: var(--proseCodeBlockGap);
  }

  @media (prefers-color-scheme: dark) {
    .content :global(.astro-code span) {
      color: var(--shiki-dark) !important;
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }

  @media (prefers-color-scheme: light) {
    .content :global(.astro-code span) {
      font-style: var(--shiki-light-font-style) !important;
      font-weight: var(--shiki-light-font-weight) !important;
      text-decoration: var(--shiki-light-text-decoration) !important;
    }
  }
</style>
